@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.mongolia {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Mongolia.svg/1920px-Flag_of_Mongolia.svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
